In [39]:
import pandas as pd

In [40]:
#api url
general = 'https://newsapi.org/v2/everything?q=bitcoin&apiKey=ec7e54d77d7a4fe08d6144d9c5309bda'
indian_news = 'https://newsapi.org/v2/top-headlines?country=in&apiKey=ec7e54d77d7a4fe08d6144d9c5309bda'

In [41]:
#fetching api
import requests
import json
general_APIresponse = requests.get(general)
indian_news_APIresponse = requests.get(indian_news)
#print(response_API.status_code)
data1 = general_APIresponse.text
data2 = indian_news_APIresponse.text
parse_json1 = json.loads(data1)
parse_json2 = json.loads(data2)

In [42]:
#convertjsontocsv
csv1=pd.json_normalize(parse_json1['articles'])
csv2=pd.json_normalize(parse_json2['articles'])
csv1.to_csv('test1.csv', index=False, encoding='utf-8')
csv2.to_csv('test2.csv', index=False, encoding='utf-8')

In [43]:
#readingcsvfile
general=pd.read_csv('test1.csv',usecols = ['title','description','content'])
indian_news=pd.read_csv('test2.csv',usecols = ['title','description','content'])
general.tail()

,title,description,content
95,High Risk vs. Low Risk Investing (The Reality),Life isn’t just about target date funds and in...,Life isnt just about target date funds and ind...
96,Hacienda tiene claro cómo debe perseguir el fr...,La Agencia Tributaria de España ha disparado c...,La Agencia Tributaria de España ha disparado c...
97,The 12 Main Pros and Cons of Crypto Explained,"Getting into crypto isn't clear-cut, so we've ...",Cryptocurrency is an undeniably controversial ...
98,Should You Buy Bitcoin While It's Still Below ...,For investors taking a long-term approach to t...,"For the first two months of 2023, Bitcoin(BTC ..."
99,Bitcoin Works Better As Money Than For NFTs,Bitcoin NFTs provide a new use case for Bitcoi...,"To be fair, the Bitcoin blockchain has always ..."

In [44]:
indian_news.tail()

,title,description,content
15,Tu Jhoothi Main Makkaar Box Office Day 2: Ranb...,After a good start at the box office on Wednes...,Box Office – Tu Jhoothi Main Makkaar maintains...
16,Collision course! 92-foot Asteroid 2020 FV4 da...,An aircraft-sized asteroid is hreatening Earth...,Asteroids are in abundance not just in our sol...
17,"Diet Pills Market Statistical Forecast, Trade ...",Newark New Castle USA Growth Plus Reports has ...,"Newark, New Castle, USA - Growth Plus Reports ..."
18,"After asking for link to join virtually, Pakis...",Supreme Court sources said they had received a...,"The Pakistan delegation, including the Chief J..."
19,"Pat Cummins' Mother Maria Dies, Australian Pla...","Maria Cummins, mother of Australia Test captai...","Maria Cummins, mother of Australia Test captai..."

In [45]:
#datapreprocessing
common_csv = []
common_csv.extend(general['title'])
common_csv.extend(general['description'])
common_csv.extend(general['content'])
common_csv.extend(indian_news['title'])
common_csv.extend(indian_news['description'])
common_csv.extend(indian_news['content'])
#iteratorfunction
def iterator (len,arr,str):
  for x in range(len):
    arr.append(str)
  return arr

df=pd.DataFrame({'text':common_csv, 'label' :iterator(len(common_csv),[],'REAL')})
df.to_csv('common.csv', index=False, encoding='utf-8')

In [46]:
#preprocessingcommon_csv
common = pd.read_csv('common.csv')
common.tail()

                                                  text label
355  Box Office – Tu Jhoothi Main Makkaar maintains...  REAL
356  Asteroids are in abundance not just in our sol...  REAL
357  Newark, New Castle, USA - Growth Plus Reports ...  REAL
358  The Pakistan delegation, including the Chief J...  REAL
359  Maria Cummins, mother of Australia Test captai...  REAL

In [47]:
common = common.dropna()
common.tail()

                                                  text label
355  Box Office – Tu Jhoothi Main Makkaar maintains...  REAL
356  Asteroids are in abundance not just in our sol...  REAL
357  Newark, New Castle, USA - Growth Plus Reports ...  REAL
358  The Pakistan delegation, including the Chief J...  REAL
359  Maria Cummins, mother of Australia Test captai...  REAL

In [48]:
import pandas as pd
common = pd.read_csv('common.csv')
commonnew = common.dropna()

In [49]:
commonnew.head()

                                                text label
0        Bitcoin Investors Are Plotting a Major Coup  REAL
1  OnePlus Pad Android Tablet: Details, Specs, Re...  REAL
2  Bitcoin Miners Are Playing a High-Stakes Game ...  REAL
3  El Salvador Is Planning a 'Bitcoin Embassy' in...  REAL
4  Bitcoin steadies near lows hit after fall of S...  REAL

In [50]:
#newscsv read title elimnated commonnew dono ko merge karke

In [51]:
import pandas as pd
news = pd.read_csv('News.csv')

In [52]:
news.head()

                                                text label
0  Can You Write Off Crypto Losses on Your Taxes?...  REAL
1  Capital losses can help you lower your taxable...  REAL
2  This story is part of Taxes 2023, CNET's cover...  REAL
3  IND vs AUS Live Score Updates 4th Test Day 2: ...  REAL
4  Google announces to start its Chrome 111 updat...  REAL

In [53]:

# news.drop('title',inplace = True,axis=1)
# news.drop('Unnamed: 0',inplace = True,axis=1)

In [54]:
news.head()

                                                text label
0  Can You Write Off Crypto Losses on Your Taxes?...  REAL
1  Capital losses can help you lower your taxable...  REAL
2  This story is part of Taxes 2023, CNET's cover...  REAL
3  IND vs AUS Live Score Updates 4th Test Day 2: ...  REAL
4  Google announces to start its Chrome 111 updat...  REAL

In [55]:
# merging two csv files 
# final_csv = news.append(commonnew)
final_csv=pd.concat([commonnew,news]).drop_duplicates(
subset='text', keep='last').reset_index(drop=True)

In [56]:
final_csv.head()

                                                text label
0  Can You Write Off Crypto Losses on Your Taxes?...  REAL
1  Capital losses can help you lower your taxable...  REAL
2  This story is part of Taxes 2023, CNET's cover...  REAL
3  IND vs AUS Live Score Updates 4th Test Day 2: ...  REAL
4  Google announces to start its Chrome 111 updat...  REAL

In [57]:
final_csv.to_csv('News.csv', index=False, encoding='utf-8')

In [58]:
pd.read_csv('News.csv')

                                                   text label
0     Can You Write Off Crypto Losses on Your Taxes?...  REAL
1     Capital losses can help you lower your taxable...  REAL
2     This story is part of Taxes 2023, CNET's cover...  REAL
3     IND vs AUS Live Score Updates 4th Test Day 2: ...  REAL
4     Google announces to start its Chrome 111 updat...  REAL
...                                                 ...   ...
6535  The State Department told the Republican Natio...  REAL
6536  The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...  FAKE
6537   Anti-Trump Protesters Are Tools of the Oligar...  FAKE
6538  ADDIS ABABA, Ethiopia —President Obama convene...  REAL
6539  Jeb Bush Is Suddenly Attacking Trump. Here's W...  REAL

[6540 rows x 2 columns]